main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr 80px;
  font-family: "Oswald", sans-serif;
  transition: all 2.2s cubic-bezier(0.5, 0, 0.1, 1);
  box-sizing: border-box;
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  font-size: 28px;
}
main header menu {
  padding: 0;
  margin: 0;
}
main header menu a {
  padding: 10px 20px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
main .hero {
  grid-row: 2;
  position: relative;
  overflow: hidden;
}
main .hero .layer {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 4fr;
  height: 100%;
  transition-duration: 2.2s;
}
main .hero .layer:nth-child(2) .item {
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: 1fr 4fr;
}
main .hero .layer:nth-child(2) .item h2 {
  grid-row: 1;
  grid-column: 1/-1;
  font-size: 56px;
  letter-spacing: 20px;
  align-self: center;
  opacity: 0;
  transform: translatex(20%);
  transition-delay: 0.4s;
}
main .hero .layer:nth-child(2) .item svg {
  grid-row: 1/-1;
  grid-column: 2;
  width: 150px;
  height: 150px;
  justify-self: center;
  align-self: center;
  letter-spacing: 12px;
}
main .hero .layer:nth-child(2) .item svg text {
  transform-origin: 50% 50%;
  animation: anim_rotate 10s linear infinite;
}
main .hero .layer:nth-child(2) .item .text-vertical {
  grid-row: 1/-1;
  grid-column: -2;
  font-size: 56px;
  letter-spacing: 20px;
  color: #fc8567;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
main .hero .layer:nth-child(2) .item .text-flaveur {
  grid-row: 2;
  grid-column: 3;
  justify-self: center;
  align-self: center;
  font-size: 14px;
  backface-visibility: hidden;
}
main .hero .layer:first-child .item *:nth-child(2) {
  transform: translateX(60%);
}
main .hero .layer:first-child .item *:last-child {
  transform: translateX(-40%);
}
main .hero .layer:first-child .item.item-displayed *:nth-child(2) {
  transform: translateX(0);
}
main .hero .layer:first-child .item.item-displayed *:last-child {
  transform: translateX(0);
}
main .hero .layer:last-child .item *:nth-child(2) {
  transform: translateX(60%);
}
main .hero .layer:last-child .item *:last-child {
  transform: translateX(500%);
}
main .hero .layer:last-child .item.item-displayed *:nth-child(2) {
  transform: translateX(0);
}
main .hero .layer:last-child .item.item-displayed *:last-child {
  transform: translateX(0);
}
main .hero .layer:last-child .item.item-revealed h2 {
  letter-spacing: 5px;
  opacity: 1;
  transform: translateX(0);
}
main .hero .item {
  grid-row: 2;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 40px;
  grid-gap: 5%;
  width: 85vw;
  padding-left: 80px;
}
main .hero .item img {
  backface-visibility: hidden;
}
main .hero .item img:nth-of-type(1) {
  width: 100%;
  max-height: 100%;
  align-self: end;
}
main .hero .item img:nth-of-type(2) {
  width: 100%;
  align-self: end;
  transform: translateY(-30%);
}
main .hero .item img:nth-of-type(3) {
  width: 100%;
  align-self: start;
}
main .slider {
  grid-row: -2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-gap: 1%;
  padding: 20px 80px;
}
main .slider .track-full {
  position: relative;
  height: 50%;
  align-self: end;
  border-top: 1px solid #555;
  box-sizing: content-box;
}
main .slider .track-active {
  position: absolute;
  width: 25%;
  height: 100%;
  border-top: 2px solid black;
  transition-duration: 2.2s;
  box-sizing: content-box;
}
main .slider .track-number {
  align-self: center;
  font-size: 22px;
}
main .slider .track-number:after {
  content: "/04";
}
main .background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2.5fr 50px;
  grid-template-columns: 2fr 1.27fr 1.73fr;
  z-index: -1;
}
main .background-border-horizontal {
  grid-row: 2;
  grid-column: 1/-1;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
main .background-border-vertical {
  grid-row: 1/-1;
  grid-column: 2;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

@keyframes anim_rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}