.section-project {
  padding: 100px 0;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.project-carousel {
  position: relative;
  padding: 50px 0;
}

.project-strip {
  margin: 150px 0 150px;
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.project-strip img {
  max-width: 20vw;
  width: 20vw;
  height: auto;
}

.project-detail img {
  transform: translateY(-10%);
  width: 40vw;
  height: auto;
}

.project-screen {
  width: 40vw;
  height: 35vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.project-screen .project-detail {
  position: absolute;
  left: 0;
  right: 0;
  width: 40vw;
  height: 35vh;
  margin: 32px auto 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  transform: translateY(-10%);
}
.project-screen .screen-frame {
  content: " ";
  width: 40vw;
  height: 35vh;
  position: absolute;
  object-fit: cover;
  background-repeat: no-repeat;
}

.project-screen .project {
  margin-right: -100%;
  float: left;
}

.project-strip .project {
  padding: 5px 50px;
}

.typography {
  position: absolute;
  color: #ffdbdb;
  top: 5%;
  width: 100vw;
  text-align: center;
  opacity: 0.5;
  font-weight: 500;
  font-size: 20rem;
  line-height: 100%;
  letter-spacing: -0.05em;
  font-family: 'Qwitcher Grypen', cursive;
  user-select: none;
  pointer-events: none;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .typography {
    top: 0%;
    font-weight: 500;
    font-size: 10rem;
    line-height: 100%;
    letter-spacing: -0.05em;
    transform: translateY(50%);
  }

  .project-screen .project-detail {
    transform: translateY(-30%);
  }
}