body {
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
}

a {
  pointer-events: all;
  text-decoration: none;
}

/* Underline effect */
.fx-underline {
  position: relative;
}
.fx-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 97%;
  height: 2px;
  background-color: #DEDEDE;
  transform: scaleX(0%);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.fx-underline::before {
  transform-origin: 100% 0;
}
.fx-underline:hover::before {
  transform: scaleX(100%);
  transform-origin: 0 0;
}

/* Wave effect */
.fx-wave {
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.3) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.2) 90%
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.3) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.2) 90%
  );
  mask-size: 200%;
  -webkit-mask-size: 200%;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}